* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.header {
  height: 80rem;
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-food-food-snack-eating-goods-image_14522.jpg") no-repeat center/cover;
}
.header-introduce {
  text-align: center;
  color: white;
  padding-top: 19rem;
  margin: 0 auto;
}
.header-title {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 600;
}
.header-desc {
  padding-top: 6rem;
  font-size: 1.8rem;
  max-width: 70rem;
  margin: 0 auto;
  font-weight: 300;
  padding-bottom: 7.5rem;
}
.header-btn {
  margin: 0 auto;
  font-weight: 300;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 5px;
  background-color: #ac8949;
  box-shadow: 0 6px 0 0 #644a1a8e;
  transition: 0.2s linear;
  display: block;
  width: 18rem;
  height: 5rem;
  line-height: 5rem;
}
.header-btn:hover {
  box-shadow: 0 4px 0 0 #644a1a8e;
  transform: translateY(1px);
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 30rem;
  margin-top: 6rem;
}
.nav-link {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  padding: 0 3rem;
  text-transform: uppercase;
  transition: color 0.25s linear;
}
.nav-link:hover {
  color: #ac8a43;
}

.logo {
  margin-left: 13rem;
  font-size: 8rem;
}
.logo a {
  color: white;
  font-weight: 600;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.discover {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 7rem;
}
.discover-img {
  width: 40%;
}
.discover-info {
  padding-left: 8rem;
}
.discover-info__img {
  width: 12%;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
}
.discover-info__cheft {
  padding-top: 3rem;
}
.discover-info__card {
  display: inline-block;
  padding-left: 2rem;
}
.discover-info__name {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.discover-info__note {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  color: #f88900;
  text-transform: uppercase;
}
.discover-title {
  font-size: 4rem;
}
.discover-desc {
  padding-top: 3.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 37rem;
  opacity: 0.8;
}

.menu {
  margin: 8rem 0;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.menu-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  transition: color 0.25s linear;
}
.menu-link:hover {
  color: #ac8a43;
}
.menu-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.menu-image__note {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.menu-image__name {
  font-size: 3.2rem;
  font-weight: 600;
}
.menu-image__subname {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 600;
}
.menu-image__list {
  width: calc(100% / 3);
  padding: 2rem 0;
  position: relative;
  transition: all 0.35s linear;
}
.menu-image__list:hover {
  transform: translateY(2px);
}
.menu-image__list:hover .menu-image__note {
  display: block;
}
.menu-image__list:hover .opacity {
  display: block;
}
.menu-image__list:first-child .menu-image__opacity {
  width: 100%;
  height: 350px;
  background-color: #000;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL2AJLP41zzteXBYCvqjWkBXqWqCNYYQu6pogsIobGhWF0qWFZywr-vmpf24fLcMUAxKs&usqp=CAU") no-repeat center/cover;
}
.menu-image__list:nth-child(2) .menu-image__opacity {
  width: 100%;
  height: 350px;
  background-color: #000;
  background: url("https://i.pinimg.com/originals/84/fa/e6/84fae694d123d1db99f823a7bdd1a10a.jpg") no-repeat center/cover;
}
.menu-image__list:last-child .menu-image__opacity {
  width: 100%;
  height: 350px;
  background-color: #000;
  background: url("https://i.pinimg.com/originals/84/fa/e6/84fae694d123d1db99f823a7bdd1a10a.jpg") no-repeat center/cover;
}
.menu-image__list__img {
  max-height: 350px;
  position: relative;
  z-index: -1;
}

.opacity {
  width: 100%;
  height: 350px;
  display: none;
  background-color: rgba(0, 0, 0, 0.534);
}

.choose {
  margin-bottom: 4rem;
}

.choose-header {
  margin: 0 auto;
}
.choose-header__name {
  font-size: 5.2rem;
  font-weight: 600;
  text-align: center;
}
.choose-header__list {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}
.choose-header__link {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 0.8rem 2rem;
  position: relative;
  display: block;
  transition: all 0.25s linear;
}
.choose-header__link:hover {
  transform: translateY(2px);
}
.choose-header__link::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 2px solid #ed3537;
  transform-origin: center;
  z-index: -1;
  transform: scale3d(0, 1, 1);
  transition: all 0.25s linear;
}
.choose-header__link:hover:before {
  transform: scale3d(1, 1, 1);
}

.choose-content {
  margin-top: 3rem;
}
.choose-content__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choose-content__item {
  width: calc(50% - 30px);
  margin-bottom: 3rem;
}
.choose-content__img {
  width: 15%;
  float: left;
}
.choose-content__info {
  margin-left: 2rem;
  display: inline-block;
  width: 50%;
}
.choose-content__name {
  font-size: 1.5rem;
  color: #dc0c00;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.choose-content__desc {
  font-size: 1.1rem;
  opacity: 0.8;
}
.choose-content__price {
  float: right;
  font-size: 1.5rem;
}

.reservation {
  margin-bottom: 4rem;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://www.saborusa.com/wp-content/uploads/2019/10/Prepara-tus-BBQ-como-todo-un-profesional-Foto-destacada.png");
  background-repeat: no-repeat;
}
.reservation-opacity {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.486);
}
.reservation-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.reservation-title {
  font-size: 4rem;
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}
.reservation-form {
  text-align: center;
}
.reservation-input {
  padding: 1rem 0;
  padding-right: 5rem;
  padding-left: 1.4rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}
.reservation-btn {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e8262e;
  border: 0;
  outline: none;
  transition: all 0.25s linear;
}
.reservation-btn:hover {
  cursor: pointer;
  transform: translateY(1.5px);
}

.chief {
  margin: 15rem 0;
}
.chief-header {
  text-align: center;
}
.chief-title {
  font-size: 5rem;
  text-transform: uppercase;
}
.chief-note {
  color: #e8262e;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 600;
}
.chief-info {
  margin-top: 4rem;
}
.chief-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.chief-item {
  width: calc(25% - 22.5px);
}
.chief-item__info {
  text-align: center;
  margin-top: 1.5rem;
}
.chief-item__name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.chief-item__position {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ff3b15;
  text-transform: uppercase;
}
.chief-item__contact {
  text-align: center;
  margin-top: 1rem;
}
.chief-item__link {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 2px;
  font-size: 2rem;
  padding: 0 2px;
  color: #000;
  position: relative;
  border: 0;
  background: none;
  box-shadow: inset 0 0 0 2px #ff3b15;
}
.chief-item__link::before, .chief-item__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.chief-item__circle {
  width: 3rem;
  height: 3rem;
  padding: 0;
}
.chief-item__circle i {
  padding-left: 4px;
}
.chief-item__circle::before, .chief-item__circle::after {
  top: 0;
  left: 0;
}
.chief-item__circle::before {
  border: 2px solid rgba(0, 0, 0, 0.219);
}
.chief-item__circle:hover::before {
  border-top-color: #ff3b15;
  border-right-color: #ff3b15;
  border-bottom-color: #ff3b15;
  transition: border-top-color 0.7s linear, border-right-color 0.8s linear, border-bottom-color 0.9s linear, border-left-color 1s linear;
}
.chief-item__circle::after {
  border: 2px solid transparent;
}
.chief-item__circle:hover::after {
  border-top: 2px solid #ff3b15;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}
.chief-item__round {
  border-radius: 100%;
  box-shadow: none;
}
.chief-item__round::before, .chief-item__round::after {
  border-radius: 100%;
}

.subscribe {
  width: 100vw;
  height: 400px;
  margin: 4rem 0 0 0;
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-food-food-snack-eating-goods-image_14522.jpg") no-repeat top/cover;
}
.subscribe-header {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  padding-top: 3rem;
  font-weight: 600;
}
.subscribe-note {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.8rem;
  color: #f03d14;
  font-weight: 600;
}
.subscribe-form {
  text-align: center;
}
.subscribe-input {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 45rem;
  padding-left: 1rem;
}
.subscribe-btn {
  margin-left: -11rem;
  margin-bottom: 5px;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f53909;
  outline: none;
  border: 0;
  transition: transform 0.25s linear;
}
.subscribe-btn:hover {
  transform: translateX(2px);
}
.subscribe-social {
  margin-top: 3rem;
  text-align: center;
}
.subscribe-link {
  padding: 0 11px;
  padding-bottom: 3.1px;
  background: #fff;
  color: #000;
  font-size: 2.4rem;
  margin: 0 1.1rem;
  position: relative;
  border: 0;
  box-shadow: inset 0 0 0 3px transparent;
}
.subscribe-link::before, .subscribe-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.subscribe-circle {
  width: 4rem;
  height: 4rem;
}
.subscribe-circle::before, .subscribe-circle::after {
  top: 0;
  left: 0;
}
.subscribe-circle::before {
  border: 3px solid transparent;
}
.subscribe-circle:hover::before {
  border-top-color: #f53909;
  border-right-color: #f53909;
  border-bottom-color: #f53909;
  transition: border-top-color 0.7s linear, border-right-color 0.8s linear, border-bottom-color 0.9s linear;
}
.subscribe-circle::after {
  border: 2px solid transparent;
}
.subscribe-circle:hover::after {
  border-top: 3px solid #f53909;
  border-left-width: 3px;
  border-right-width: 3px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s;
}
.subscribe-round {
  border-radius: 100%;
  box-shadow: none;
}
.subscribe-round::before, .subscribe-round::after {
  border-radius: 100%;
}

.footer {
  position: relative;
  background-color: #454545;
}
.footer-social {
  text-align: center;
  padding-bottom: 2rem;
}
.footer-copyright {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: #fff;
}
.footer-copyright span {
  font-size: 1.4rem;
  color: #a8804d;
}

.contact {
  position: relative;
  width: 800px;
  z-index: 2;
  height: 350px;
  margin: 0 auto;
  bottom: 16rem;
}
.contact-form {
  padding-top: 10rem;
  padding-left: 4rem;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.contact-form__title {
  font-size: 2.5rem;
}
.contact-form form {
  padding-top: 2rem;
  width: 90%;
}
.contact-form__input {
  width: 100%;
  padding: 7px;
  margin-bottom: 5px;
  outline: none;
  border: 0;
  font-size: 1.1rem;
  opacity: 0.8;
}
.contact-btn {
  font-size: 1.1rem;
  margin-top: 2rem;
  padding: 8px;
  color: #555553;
  border: 1px solid rgba(143, 143, 140, 0.305);
}
.contact-info {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #ac8949;
  padding-top: 10rem;
  padding-left: 4rem;
}
.contact-info__note {
  padding-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 8px;
  color: #fff;
}
.contact-info__title {
  padding-top: 6px;
  font-size: 2.2rem;
  color: #fff;
}
.contact-info__desc {
  margin-top: 1.2rem;
  color: #fff;
}
.contact-info__address {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  font-weight: 300;
}
.contact-info__address i {
  padding-right: 6px;
}

/*# sourceMappingURL=style.css.map */
